/bin/
/data/app/
/data/*.local.config.json
/out/
/src/OneWorldSDK_UnityDemo/Assets/Plugins/**/*.dll
/src/OneWorldSDK_UnityDemo/Assets/Plugins/**/*.pdb
/src/OneWorldSDK_UnityDemo/Assets/Plugins/**/*.mdb
/src/Libraries/.vs
/src/Libraries/ManagedMathLib/obj
/src/Libraries/owsdk/.vs
/src/packages
/src/Libraries/packages
/src/Libraries/owsdk/obj
/src/OneWorldSDK_UnityDemo/Packages
/build/OneWorldSDK_Viewer
/src/OneWorldSDK_UnityDemo/.vs
/src/OneWorldSDK_UnityDemo/Library
/src/OneWorldSDK_UnityDemo/Logs
/src/OneWorldSDK_UnityDemo/Temp
/src/OneWorldSDK_UnityDemo/Assembly-CSharp-Editor.csproj
/src/OneWorldSDK_UnityDemo/Assembly-CSharp.csproj
/src/OneWorldSDK_UnityDemo/OneWorldSDK_UnityDemo.sln
/src/OneWorldSDK_UnityDemo/obj/Debug
